<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Forgot Password ?</h1>
  <br>
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /login route -->
          <form action="/forgot-password" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" />
            </div>
            <button type="submit" class="btn btn-dark">Send Reset Link</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <p>A link to reset your password will be sent to your email.<p>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('partials/footer') %>
