
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.table-container {
  padding-top: 50px;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}



